/* website-font-family */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.open-sans-webfont {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* shared style */
.display-flex {
  display: flex;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
}
.site-description {
  color: #727272;
  font-size: 0.75rem;
}
main{
    max-width: 1040px;
    margin: 0 auto;
}
section{
    margin: 100px 0;
}
/* navbar style */

.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  margin-right: 30px;
  color: #424242;
}
.brand {
  font-size: 2rem;
  font-weight: 700;
}
.nav-links {
  list-style: none;
}
.navbar,
.banner {
  max-width: 1080px;
  margin: 0 auto;
}
/* banner style */
.banner-content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 3rem;
  font-weight: bold;
}
.img-banner {
  width: 100%;
}
/* team feature section */
.team-img{
    width: 100%;
}
.team{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-feature{
    margin-left: 85px;
    max-width: 400px;
}
#quick-list{
    color: #727272;
    font-weight: 600;
    font-size: 2.2rem;
}
#of-our{
    color: #131313;
    font-size: 2.2rem;
    font-weight: bold;
}
#feature{
    color: rgba(255, 144, 14, 1);
    font-size: 2.2rem;
    font-weight: bold;

}
/* banner responsive */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .team {
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .team-feature{
    margin: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team{
        flex-direction: column;
        margin: 50px auto;

    }
    
}